body, html, #root {
  height: 100%;
  padding: 0%;
  margin: 0%;
}
.app-container{
  background-image: url('https://static7.depositphotos.com/1003625/752/i/450/depositphotos_7529921-stock-photo-math-symbols.jpg');
  background-position: center;
  display: flex;
  height: 120vh;
  margin: 0%;
  padding: 0;
  width: 100vw;
  object-fit: cover;
  }
