body, html, #root {
  height: 100%;
}
.app-container{
  background-image: url('https://static7.depositphotos.com/1003625/752/i/450/depositphotos_7529921-stock-photo-math-symbols.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0;
  }
